.container{
          display:flex;
          justify-content:center;
          gap:50px;
         }
 
         .category{
          width:100px;
          height:100px;
        margin-top:20px;
         }
          .category img{
          width:150px;
          height:150px;
          border-radius:100%;
         } 


         .produk{
          width:16rem;
          height:360px
        border- radius:100%;
        box-shadow:5px 5px 5px
        purpele;
        margin-top:20px
        background:radial-
        gradient(circle,rgba(252,70,107,1)
        100%);)
         }
  
         
         .iklan{
          width:16rem;
          height:360px
        border- radius:12px
        box-shadow:5px 5px 5px;
        margin-top:20px
        gradient(circle,rgba(252,70,107,1)
        100%);)
         }
         .iklan image{
          width:100%;
          height:200px;
          bacground-color:grey;
          overflow:hidden;
          border-radius:15px;
         
         .produk image{
          width:100%;
          height:200px;
          bacground-color:grey;
          overflow:hidden;
          border-radius:15px;
         }
         width:16re


         .btn-grad {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
 



